## Perkenalan
Nama : Hafiz Fahrurrozi

# 1. Resistansi Baterai
Ditanya : Resistansi tiap baterai dalam cycle ganjil
<br>Resistansi baterai dapat dihitung berdasarkan rumus: R = V/I

1. Import library numpy dan pandas
load library numpy dan pandas dengan import

In [1]:
import numpy as np
import pandas as pd

2. Data Loading
 - Read data dari excel, masukkan ke df1
 - Cek missing data

In [2]:
df1 = pd.read_excel('NMC1-9.xlsx')
display(df1.head())
display(df1.info())

   time(s)    V_m  Current (A)  Cycle       Cap
0        0  4.098        0.997      1  2.840817
1        1  4.096        0.998      1  2.840817
2        2  4.094        0.999      1  2.840817
3        3  4.093        0.998      1  2.840817
4        4  4.092        0.999      1  2.840817

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90982 entries, 0 to 90981
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   time(s)      90982 non-null  int64
 1   V_m          90982 non-null  float64
 2   Current (A)  90982 non-null  float64
 3   Cycle        90982 non-null  int64
 4   Cap          90982 non-null  float64
dtypes: float64(3), int64(2)
memory usage: 3.5 MB

None

Cleaning data:
<br>
 - rename column V_m, Current (A), dan Cycle untuk memudahkan perhitungan
 - cek tabel

In [3]:
df1.rename(columns={'V_m':'v','Current (A)':'a','Cycle':'c'}, inplace=True)
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90982 entries, 0 to 90981
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   time(s)  90982 non-null  int64
 1   v        90982 non-null  float64
 2   a        90982 non-null  float64
 3   c        90982 non-null  int64
 4   Cap      90982 non-null  float64
dtypes: float64(3), int64(2)
memory usage: 3.5 MB

3. Answer
 - definisi fungsi res untuk perhitungan resistansi
 - pembuatan list kosong r
 - melakukan looping untuk cek nomor siklus:
    - Jika genap, r = 0
    - Jika ganjil, hitung r dengan fungsi res
 - tambahkan list r ke dalam tabel df1
 - rename column kembali untuk memudahkan pembacaan

In [4]:
def res(v,a): # calculation of resistance
    return v/a

r = []

for i, rows in df1.iterrows(): #loop for all cycle
    if (df1.c[i]%2) == 0: #check if cycle is even
        r.append(0)
    else:
        r.append(res(df1.v[i],df1.a[i])) #call calculation function
df1['Resistance'] = r
df1.rename(columns={'v':'Volt','a':'Ampere','c':'Cylce'}, inplace=True)

4. Hasil
 - Menunjukkan hasil menggunakan display()

In [5]:
display(df1)

       time(s)   Volt  Ampere  Cylce       Cap  Resistance
0            0  4.098   0.997      1  2.840817    4.110331
1            1  4.096   0.998      1  2.840817    4.104208
2            2  4.094   0.999      1  2.840817    4.098098
3            3  4.093   0.998      1  2.840817    4.101202
4            4  4.092   0.999      1  2.840817    4.096096
...        ...    ...     ...    ...       ...         ...
90977    90977  2.506   1.002      9  2.770180    2.500998
90978    90978  2.504   1.002      9  2.770180    2.499002
90979    90979  2.502   1.002      9  2.770180    2.497006
90980    90980  2.500   1.002      9  2.770180    2.495010
90981    90981  2.497   1.002      9  2.770180    2.492016

[90982 rows x 6 columns]

# 2. Daya Baterai
ditanya : daya baterai tiap cycle genap
<br>Daya baterai dapat dihitung dengan: P = VI

1. import library numpy dan pandas
load library numpy dan pandas dengan import

In [6]:
import numpy as np
import pandas as pd

2. Data Loading
 - Read data dari excel, masukkan ke df1
 - Cek missing data

In [7]:
df2 = pd.read_excel('NMC1-9.xlsx')
display(df2.head())
display(df2.info())

   time(s)    V_m  Current (A)  Cycle       Cap
0        0  4.098        0.997      1  2.840817
1        1  4.096        0.998      1  2.840817
2        2  4.094        0.999      1  2.840817
3        3  4.093        0.998      1  2.840817
4        4  4.092        0.999      1  2.840817

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90982 entries, 0 to 90981
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   time(s)      90982 non-null  int64
 1   V_m          90982 non-null  float64
 2   Current (A)  90982 non-null  float64
 3   Cycle        90982 non-null  int64
 4   Cap          90982 non-null  float64
dtypes: float64(3), int64(2)
memory usage: 3.5 MB

None

Cleaning data:
 - rename column V_m, Current (A), dan Cycle untuk memudahkan perhitungan
 - cek tabel

In [8]:
df2.rename(columns={'V_m':'v','Current (A)':'a','Cycle':'c'}, inplace=True)
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90982 entries, 0 to 90981
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   time(s)  90982 non-null  int64
 1   v        90982 non-null  float64
 2   a        90982 non-null  float64
 3   c        90982 non-null  int64
 4   Cap      90982 non-null  float64
dtypes: float64(3), int64(2)
memory usage: 3.5 MB

3. Answer
 - definisi fungsi power untuk perhitungan daya
 - pembuatan list kosong p
 - melakukan looping untuk cek nomor siklus:
    - jika genap, hitung p dengan fungsi power
    - jika ganjil, p = 0
 - tambahkan list p ke dalam tabel df2
 - rename column untuk memudahkan pembacaan

In [9]:
def power(v,a): #calculate of power
    return v*a

p = []

for i, rows in df2.iterrows(): #loop for all cycle
    if (df2.c[i]%2) == 0: #check if cycle is even
        p.append(power(df2.v[i],df2.a[i])) #call calculation function
    else:
        p.append(0)
df2['Power'] = p
df2.rename(columns={'v':'Volt','a':'Ampere','c':'Cylce'}, inplace=True)

4. Hasil
 - menunjukkan hasil menggunakan display()

In [10]:
display(df2)

       time(s)   Volt  Ampere  Cylce       Cap  Power
0            0  4.098   0.997      1  2.840817    0.0
1            1  4.096   0.998      1  2.840817    0.0
2            2  4.094   0.999      1  2.840817    0.0
3            3  4.093   0.998      1  2.840817    0.0
4            4  4.092   0.999      1  2.840817    0.0
...        ...    ...     ...    ...       ...    ...
90977    90977  2.506   1.002      9  2.770180    0.0
90978    90978  2.504   1.002      9  2.770180    0.0
90979    90979  2.502   1.002      9  2.770180    0.0
90980    90980  2.500   1.002      9  2.770180    0.0
90981    90981  2.497   1.002      9  2.770180    0.0

[90982 rows x 6 columns]