## Muhammad Ikhsan Rahman Hakim || Batch 001 FTDS

Import library

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_excel('/content/NMC1-9.xlsx')

Melihat 5 baris awalan dari tabel

In [ ]:
df.head()

   time(s)    V_m  Current (A)  Cycle       Cap  Hambatan      Daya
0        0  4.098        0.997      1  2.840817  4.110331  4.085706
1        1  4.096        0.998      1  2.840817  4.104208  4.087808
2        2  4.094        0.999      1  2.840817  4.098098  4.089906
3        3  4.093        0.998      1  2.840817  4.101202  4.084814
4        4  4.092        0.999      1  2.840817  4.096096  4.087908

### Keterangan Tabel
- time(s): Detik ke- pengukuran
- V_m: Voltage/tegangan yang terukur tiap waktu
- Current (A): Kuat arus terukur tiap waktu
- Cycle: Nomor siklus charge-discharge baterai
- Cap: Kapasitas baterai tiap waktu

### Soal
Hitung hambatan baterai tiap waktunya untuk cycle ganjil dan daya baterai tiap waktunya untuk cycle genap dari dataset dengan ketentuan sebagai berikut:

1. Gunakan function untuk menghitung hambatan dan daya
2. Harus menerapkan konsep looping, conditional if, dan pandas query

Mendefinisikan fungsi untuk masing-masing rumus

In [ ]:
def hambatan(a,b):
  "Rumus menghitung kapasitas baterai dalam satuan Ohm, R=V/I"
  return a/b

def daya(a,b):
  "Rumus menghitung daya, P=V*I"
  return a*b

### Menghitung Hambatan dan daya dari tiap baterai

In [ ]:
df['Hambatan'] = df.apply(lambda x: hambatan(x['V_m'], x['Current (A)']), axis=1)
df['Daya'] = df.apply(lambda x: daya(x['V_m'], x['Current (A)']), axis=1)
print(df)

       time(s)    V_m  Current (A)  Cycle       Cap  Hambatan      Daya
0            0  4.098        0.997      1  2.840817  4.110331  4.085706
1            1  4.096        0.998      1  2.840817  4.104208  4.087808
2            2  4.094        0.999      1  2.840817  4.098098  4.089906
3            3  4.093        0.998      1  2.840817  4.101202  4.084814
4            4  4.092        0.999      1  2.840817  4.096096  4.087908
...        ...    ...          ...    ...       ...       ...       ...
90977    90977  2.506        1.002      9  2.770180  2.500998  2.511012
90978    90978  2.504        1.002      9  2.770180  2.499002  2.509008
90979    90979  2.502        1.002      9  2.770180  2.497006  2.507004
90980    90980  2.500        1.002      9  2.770180  2.495010  2.505000
90981    90981  2.497        1.002      9  2.770180  2.492016  2.501994

[90982 rows x 7 columns]

###Menghitung hambatan baterai tiap waktunya untuk cycle ganjil dan genap

In [ ]:
ganjil = df[['time(s)', 'V_m', 'Current (A)', 'Cycle', 'Cap', 'Hambatan']]
genap = df[['time(s)', 'V_m', 'Current (A)', 'Cycle', 'Cap', 'Daya']]

for i in df['Cycle']:
  if (i%2==0):
    print(genap)
  else:
    print(ganjil)